
body {
  font-family: 'Roboto', sans-serif;
  background: #e9f0f8;
}


.container {
  max-width: 950px;
}


.one {
  position  : relative;
  background: #e9f0f8;
  height    : 100vh;
  text-align: center;
  z-index   : 0;
}

.brandOne {
  position : relative;
  left     : 50%;
  top      : 50%;
  transform: translate(-50%, -50%);
  z-index  : 1;
  color    : #707375;
  padding-left: 5%;
  padding-right: 5%;
}


.two {
  position  : relative;
  background: #4a90e2;
  z-index   : 4;
}

.linksContainer {
  position : relative;
}

.noPadding {
  padding: 0px;
}

.linkBox {
  cursor : pointer;
}

.linkBoxTitle {
  position    : absolute;
  opacity     : 0.8;
  padding-left: 3%;
  width       : 100%;
  line-height : 240%;
  background  : white;
  color       : #4b4b4b;
  zIndex      : 10;
  bottom      : 0px;
  border-radius: 0 0 4px 4px;
}

.ourApps {
  color: white;
  font-size: 180%;
  font-weight: 100;
}

.three {
  position               : relative;
  background             : url(../assets/parallax.jpg) no-repeat ;
  height                 : 100vh;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.four {
  height    : 10vh;
  background: #4a90e2;
  text-align: center;
}

.brandTwo {
  position : relative;
  top      : 50%;
  transform: translate(0, -50%);
}

.img-width {
  width: 100%;
}

.img-circ-width {
  width: 66%;
}

.img-rounded {
  border-radius: 4px;
}


/* LightBox stuff */

.fadebox {
  display         : none;
  position        : fixed;
  top             : 0%;
  left            : 0%;
  width           : 100%;
  height          : 100%;
  background-color: black;
  z-index         : 1001;
  -moz-opacity    : 0.8;
  opacity         : 0;
  filter          : alpha(opacity=80);
  -webkit-transition: opacity 0.6s; /* Safari */
  transition: opacity 0.6s;
}

.fbVisible {
  opacity: 0.8;
}

.overbox {
  display   : none;
  position  : fixed;
  opacity   : 0;
  background: #FFFFFF;
  top       : 5%;
  width     : 70%;
  max-width : 280px;
  max-height: 500px;
  left      : 50%;
  transform: translate(-50%, 0);
  height    : 65%;
  z-index   : 1002;
  border    : solid 3px #CCCCCC;
  border-radius: 5px;
  -webkit-transition: opacity 0.4s; /* Safari */
  transition: opacity 0.4s;
}

.loader {
  top    : 25% !important;
  height : 40% !important;
  border : none;
}

.modal {
  opacity           : 0;
  top               : 25%;
  -webkit-transition: opacity 0.6s; /* Safari */
  transition        : opacity 0.6s;
}


.obVisible {
  opacity: 1;
}


.obThree {
  width     : 75%;
  max-width : 300px;
  height    : 85%;
}

.form {
  margin-top: 15%;
}

.form input {
  margin-top: 3%;
}

.form button {
  margin-top: 5%;
}

.formTwo {
  position:absolute;
  bottom: 20px;
  background: white;
}

/* Media queries */


@media screen and (min-width:768px){
  .two {
    height: 50vh;
  }

  .brandOne p {
    padding-left: 12%;
    padding-right: 12%;
  }

  .linksContainer {
    top      : 50%;
    transform: translate(0%, -50%);
  }
}


@media screen and (max-width:767px){
  [class*="col-"]{
    margin-bottom: 30px;
  }

  .two {
    padding-top: 10%;
  }

  .three {
    background: url(~!file!../assets/parallax.jpg) 73% 0;
  }

}
